.box {
    margin-top: 2rem;
    position: relative;
    z-index: 99;
    border-radius: 10rem;
    padding: 20px 50px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    font: 16px/24px Arial, sans-serif;
    background-color: rgba(23, 151, 255, 0.2);
    transition: box-shadow 0.4s ease, background-color 0.4s ease, color 0.4s ease;
    box-shadow: 0 0 2px 0 rgba(73, 115, 255, .1), 0 0 4px 0 rgba(73, 115, 255, .2), 0 0 6px 0 rgba(73, 115, 255, .3), 0 0 8px 0 rgba(73, 115, 255, .4), 0 0 12px 0 rgba(73, 115, 255, .5), 0 0 18px 0 rgba(73, 115, 255, .6);
}

.box:hover {
    background-color: #ea3c;
    box-shadow: 0 0 2px 0 rgba(238, 170, 51, 0.1), 0 0 4px 0 rgba(238, 170, 51, 0.2), 0 0 6px 0 rgba(238, 170, 51, 0.3), 0 0 8px 0 rgba(238, 170, 51, 0.4), 0 0 12px 0 rgba(238, 170, 51, 0.5), 0 0 18px 0 rgba(238, 170, 51, 0.6), 0 0 4px 0 rgba(238, 170, 51, 0.7);
}

.box span {
    color: #fff;
    letter-spacing: 3px;
    font-family: "Comic Neue";
    font-weight: bold;
}

.box i {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 200px;
    background-color: inherit;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s linear, top 1s linear;
    overflow: hidden;
}

.box i:before,
.box i:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.box i:before {
    border-radius: 46%;
    background-color: rgba(20, 20, 20, 0.2);
    animation: button 5s linear infinite;
}

.box i:after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: button 10s linear infinite;
}

@keyframes button {
    0% {
        transform: translate(-50%, -60%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -60%) rotate(360deg);
    }
}